@import url('https://fonts.googleapis.com/css2?family=Poly:ital@0;1&display=swap');
@import "tailwindcss";
@plugin "daisyui"{
   themes: light --default;
}
*{
   font-family: "Poly", serif;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}